.App {
  text-align: center;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.particles {
  position: fixed;;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: white
}